<table style="margin: 18px" mat-table [dataSource]="artists_list" class="mat-elevation-z8">

    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.artist_name}} </td>
    </ng-container>
    <ng-container matColumnDef="dob" style="width: max-content;">
      <th mat-header-cell *matHeaderCellDef> Date of Brith </th>
      <td mat-cell *matCellDef="let element"> {{element.artist_dob}} </td>
    </ng-container>
    <ng-container matColumnDef="bio">
      <th mat-header-cell *matHeaderCellDef> Bio</th>
      <td mat-cell *matCellDef="let element"> {{element.artist_bio}} </td>
    </ng-container>  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  