<table>
    <tr>
        <td><app-cardlayout></app-cardlayout></td>
        <td><app-cardlayout></app-cardlayout></td>
        <td><app-cardlayout></app-cardlayout></td>
        <td><app-cardlayout></app-cardlayout></td>
        <td><app-cardlayout></app-cardlayout></td>
    </tr>
    <tr>
        <td><app-cardlayout></app-cardlayout></td>
        <td><app-cardlayout></app-cardlayout></td>
        <td><app-cardlayout></app-cardlayout></td>
        <td><app-cardlayout></app-cardlayout></td>
        <td><app-cardlayout></app-cardlayout></td>
    </tr>
</table>