.main-container {
  height: 90%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  bottom: 0;
  right: 0;
  transition: 0.5s;
}
.content-container {
  right: 0;
  bottom: 0;
}
.toolbar-header {
  float:top;
  position:fixed;
  height: 10%;
}
.side-container {
  width: 250px;
}
ul {
  list-style-type: none;
  margin: 0;
  width: 95%;
  padding: 10px 10px 10px 10px;
  overflow: hidden;
}
li {
  float: left;
}
.icon-padding {
  padding: 5px 10px 5px 10px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
.side-option{
  padding: 5px 5px 5px 10px;
  margin: 5px 5px 5px 40px;
}
.side-close{
  padding: 5px 10px 5px 5px;
  margin: 5px 5px 5px 10px;
}